force-app/main/default/flows/Assign_Reviewers_Create_Evaluations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Reviewers_And_Create_AFEs</name>
        <label>Assign Reviewers And Create AFEs</label>
        <locationX>120</locationX>
        <locationY>890</locationY>
        <actionName>AssignReviewersCreateEvaluationsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applicationFormId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>evaluationTemplateId</name>
            <value>
                <elementReference>Get_Active_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reviewerIds</name>
            <value>
                <elementReference>reviewerIdsCsv</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <elementReference>DueDateInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>InstructionsInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AssignReviewersCreateEvaluationsAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_CreatedCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_SkippedCount</assignToReference>
            <name>skippedCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_TaskCount</assignToReference>
            <name>taskCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_EmailCount</assignToReference>
            <name>emailCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_StageUpdated</assignToReference>
            <name>stageUpdated</name>
        </outputParameters>
    </actionCalls>

    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>

    <decisions>
        <name>Application_Form_Found</name>
        <label>Application Form Found?</label>
        <locationX>120</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Error_Application_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>ApplicationFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funding_Opportunity_Relation</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funding_Opportunity_Relation_Found</name>
        <label>Funding Opportunity Relation Found?</label>
        <locationX>120</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_Funding_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Relation</defaultConnectorLabel>
        <rules>
            <name>RelationFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity_Relation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funding_Opportunity</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Template_Configured</name>
        <label>Active Template Configured?</label>
        <locationX>120</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_Active_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Template</defaultConnectorLabel>
        <rules>
            <name>TemplateIdPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Opportunity.Evaluation_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Template</targetReference>
            </connector>
            <label>Template Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Template_Found</name>
        <label>Active Template Found?</label>
        <locationX>120</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_Active_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Template Missing</defaultConnectorLabel>
        <rules>
            <name>TemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Reviewers</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <environments>Default</environments>
    <interviewLabel>Assign Reviewers Create Evaluations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Reviewers Create Evaluations</label>

    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>

    <recordLookups>
        <name>Get_Application_Form</name>
        <label>Get Application Form</label>
        <locationX>120</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Form_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationForm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Opportunity_Relation</name>
        <label>Get Funding Opportunity Relation</label>
        <locationX>120</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Funding_Opportunity_Relation_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReferenceObjectName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FundingOpportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationFormRelation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Opportunity</name>
        <label>Get Funding Opportunity</label>
        <locationX>120</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Template_Configured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Opportunity_Relation.ReferenceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Template</name>
        <label>Get Active Template</label>
        <locationX>120</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Template_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Opportunity.Evaluation_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Evaluation_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <screens>
        <name>Select_Reviewers</name>
        <label>Assign Review</label>
        <locationX>120</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssignIntro</name>
            <fieldText>&lt;p&gt;Select one or more reviewers for this application. Existing open evaluations for the same reviewer are skipped.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewerPicker</name>
            <extensionName>c:reviewerPicker</extensionName>
            <fieldText>Select Reviewers</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxSelections</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>reviewerIdsCsv</name>
                <value>
                    <elementReference>reviewerIdsCsv</elementReference>
                </value>
            </inputParameters>
            <outputParameters>
                <assignToReference>reviewerIdsCsv</assignToReference>
                <name>reviewerIdsCsv</name>
            </outputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DueDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Due Date (Optional)</fieldText>
            <fieldType>InputField</fieldType>
        </fields>
        <fields>
            <name>InstructionsInput</name>
            <fieldText>Reviewer Instructions / Comments (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
        </fields>
        <connector>
            <targetReference>Assign_Reviewers_And_Create_AFEs</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Reviewer Assigned</label>
        <locationX>120</locationX>
        <locationY>980</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An evaluation has been created for this application.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;• A review task has been assigned to the reviewer&lt;br/&gt;• A notification email has been sent&lt;br/&gt;• The application status has been updated to &quot;In Review&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Application_Not_Found</name>
        <label>Application Not Found</label>
        <locationX>760</locationX>
        <locationY>170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ApplicationNotFoundText</name>
            <fieldText>&lt;p&gt;Unable to find the Application Form record for this request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Missing_Funding_Opportunity</name>
        <label>Funding Opportunity Not Found</label>
        <locationX>760</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingFundingOpportunityText</name>
            <fieldText>&lt;p&gt;This application is not linked to a Funding Opportunity. Add an ApplicationFormRelation with ReferenceObjectName = FundingOpportunity and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Missing_Active_Template</name>
        <label>Active Template Missing</label>
        <locationX>760</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingTemplateText</name>
            <fieldText>&lt;p&gt;The linked Funding Opportunity does not have an active Evaluation Template configured.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Form</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <variables>
        <name>reviewerIdsCsv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_SkippedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_StageUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
