force-app/main/default/flows/Evaluation_Template_Wizard_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Criteria_Json</name>
        <label>Build Criteria Json</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EvalTemplateWizardBuildAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Configure_Criteria</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workingTemplateId</name>
            <value>
                <elementReference>WorkingTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedCriterionIdsCsv</name>
            <value>
                <elementReference>SelectedCriterionIdsCsv</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EvalTemplateWizardBuildAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CriteriaJson</assignToReference>
            <name>criteriaJson</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Working_Draft</name>
        <label>Prepare Working Draft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EvaluationTemplateWizardPrepareAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Choose_Criteria</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fundingOpportunityId</name>
            <value>
                <elementReference>FundingOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cloneFromFundingOpportunityId</name>
            <value>
                <elementReference>CloneFromFundingOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EvaluationTemplateWizardPrepareAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>WorkingTemplateId</assignToReference>
            <name>workingTemplateId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SelectedCriterionIdsCsv</assignToReference>
            <name>preselectedCriterionIdsCsv</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WizardMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Template</name>
        <label>Save Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EvaluationTemplateWizardSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fundingOpportunityId</name>
            <value>
                <elementReference>FundingOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workingTemplateId</name>
            <value>
                <elementReference>WorkingTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>criteriaJson</name>
            <value>
                <elementReference>CriteriaJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activateTemplate</name>
            <value>
                <elementReference>ActivateTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EvaluationTemplateWizardSaveAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SavedCriteriaCount</assignToReference>
            <name>savedCriteriaCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalWeight</assignToReference>
            <name>totalWeight</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsWeightTotalValid</assignToReference>
            <name>weightValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Activated</assignToReference>
            <name>activated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WizardMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Use_RecordId_As_FO</name>
        <label>Use Record Id as Funding Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FundingOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Source_Mode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_FO_Input</name>
        <label>Has FO Input?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Grant_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundingOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_RecordId_As_FO</targetReference>
            </connector>
            <label>Has Record Id</label>
        </rules>
        <rules>
            <name>HasFundingOpportunityInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundingOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Source_Mode</targetReference>
            </connector>
            <label>Has Funding Opportunity Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weight_Total_Valid</name>
        <label>Weight Total Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Weight_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsWeightTotalValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Template</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Evaluation Template Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluation Template Wizard Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Criteria</name>
        <label>Step 2 - Select Criteria for Matrix</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_Criteria_Json</targetReference>
        </connector>
        <fields>
            <name>WizardInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select criteria to load into the rubric matrix.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;In the next screen, you can adjust scoring and add custom criteria rows.&lt;/p&gt;&lt;p&gt;{!WizardMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CriterionSelector</name>
            <extensionName>c:flowCriterionSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedCriterionIdsCsv</name>
                <value>
                    <elementReference>SelectedCriterionIdsCsv</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCriterionIdsCsv</assignToReference>
                <name>selectedCriterionIdsCsv</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Criteria</name>
        <label>Step 3 - Configure Criteria Matrix</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Activate</targetReference>
        </connector>
        <fields>
            <name>ConfigureHelp</name>
            <fieldText>&lt;p&gt;Edit criteria in the matrix, including adding custom rows with &quot;Add Row&quot;.&lt;/p&gt;&lt;p&gt;Activation requires total weight = 100.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CriteriaEditor</name>
            <extensionName>c:flowRubricCriteriaEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>criteriaJsonIn</name>
                <value>
                    <elementReference>CriteriaJson</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CriteriaJson</assignToReference>
                <name>criteriaJsonOut</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CriteriaEditorValid</assignToReference>
                <name>isValid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CriteriaValidationMessage</assignToReference>
                <name>validationMessage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TotalWeight</assignToReference>
                <name>totalWeight</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>IsWeightTotalValid</assignToReference>
                <name>isWeightTotalValid</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Activate</name>
        <label>Review and Activate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Weight_Total_Valid</targetReference>
        </connector>
        <fields>
            <name>ReviewText</name>
            <fieldText>&lt;p&gt;Working Template: {!WorkingTemplateId}&lt;/p&gt;&lt;p&gt;Total Weight: {!TotalWeight}&lt;/p&gt;&lt;p&gt;Weight Valid: {!IsWeightTotalValid}&lt;/p&gt;&lt;p&gt;{!CriteriaValidationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivateTemplate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Activate template now</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Grant_Program</name>
        <label>Select Funding Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Template_Source_Mode</targetReference>
        </connector>
        <fields>
            <name>FundingOpportunityLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldText>Funding Opportunity</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ReferenceRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ApplicationFormRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FundingOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FundingOpportunityId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Template Activated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;Template updated successfully.&lt;/p&gt;&lt;p&gt;Template Id: {!WorkingTemplateId}&lt;/p&gt;&lt;p&gt;Saved Criteria: {!SavedCriteriaCount}&lt;/p&gt;&lt;p&gt;Total Weight: {!TotalWeight}&lt;/p&gt;&lt;p&gt;Activated: {!Activated}&lt;/p&gt;&lt;p&gt;{!WizardMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Template_Source_Mode</name>
        <label>Step 1 - Start Template (Optional Clone)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prepare_Working_Draft</targetReference>
        </connector>
        <fields>
            <name>SourceModeInfo</name>
            <fieldText>&lt;p&gt;Optionally clone from another Funding Opportunity, then select criteria and configure everything in the rubric matrix.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CloneFromFundingOpportunityLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldText>Clone From Funding Opportunity</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ReferenceRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clone From Funding Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ApplicationFormRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CloneFromFundingOpportunityId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Weight_Error</name>
        <label>Weight Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Review_Activate</targetReference>
        </connector>
        <fields>
            <name>WeightErrorText</name>
            <fieldText>&lt;p&gt;Total evaluation weight must equal 100 before activation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_FO_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Activated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CloneFromFundingOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriteriaEditorValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriteriaJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriteriaValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsWeightTotalValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedCriteriaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedCriterionIdsCsv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalWeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WizardMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkingTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
